* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    width: 100%;
    max-width: 300px;
    position: relative;
    background-color: transparent;
    overflow: visible;
    display: flex;
    flex-direction: column;
    outline: none;
}

.card-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #FFF;
    position: relative;
    z-index: 2; 
    left: -5px; /* Offset to the left */
    top: -5px; /* Offset upwards */
    height: 500px;
}

.card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--preto);
    padding: 0px 8px 8px 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.card-photo {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cinza-claro);
}

.card-photo img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-title {
    font-family: var(--fonteWork);
    font-size: 1rem;
    color: var(--texto-escuro);
    padding: 16px;
    line-height: 1.5;
    font-weight: 600;
    justify-content: start;
    text-align: start;
}

.card-description {
    font-family: var(--fonteWork);
    font-size: 0.7rem;
    color: var(--texto-escuro);
    padding: 0 16px 16px;
    line-height: 1.5;
    text-align: justify;
    flex-grow: 1;
    height: 160px;
}

@media (max-width: 768px) {
    .card {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .card-title {
        font-size: 0.9rem;
    }
}