* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontePoppins);
}

.container_historiaHero {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.image_herohistoria_content {
    background-image: url(assets/judoHistory.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.texto_historia_judo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: var(--fontePoppins);
    color: var(--branco-texto);
    overflow-wrap: anywhere;
    width: 80%;
}

.texto_historia_judo h1 {
    font-family: var(--fontePoppins);
    color: var(--branco-texto);
    font-size: var(--h1)

}

.texto_paragrafo h4{
    font-size: var(--h4);
    font-weight: 400;
}

.texto_paragrafo span {
    font-size: var(--h5);
    font-weight: 200;
    line-height: 1.1;
}

.paragrafos_historia_judo{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 40px;
}

.texto_paragrafo{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
}