html {
    scroll-behavior: smooth;
}

.containerFooterMobile {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
    padding: 2rem;
    background-color: var(--vermelho-escuro2);
    color: var(--branco-texto);
    font-family: var(--fonteWork);
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.leftSection_footer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    gap: 10px;
}

.leftSection_footer img {
    width: 100px; 
    height: 100px; 
}

.text {
    font-size: 1.2rem;
}

.rightSection_footer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    list-style: none;
}

.containerInfoMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    list-style: none;
    font-size: 0.9rem;
}

.title-footer {
    font-size: 1.2rem;
    font-weight: bold;
}

.containerInfoMobile a {
    text-decoration: none;
    color: inherit;
}

.containerInfoMobile a:hover {
    color: var(--vermelho-claro);
    font-size: var(--bodyLarge);
    scale: 1.1 0.8 ease;
    border-bottom: 2px solid white;
    transition: border-color 0.7 ease;
}

@media (min-width: 768px) {
    .container_footer {
        flex-direction: row;
        height: 390px;
    }

    .leftSection_footer {
        flex-direction: row;
        font-size: 42px;
    }

    .leftSection_footer img {
        width: 150px;
        height: 150px;
    }

    .rightSection_footer {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 40px;
    }

    .info {
        gap: 40px;
    }

    .containerInfoMobile {
        gap: 15px;
        font-size: 12px;
    }

    .title-footer {
        font-size: 20px;
    }
}