.instituteSection{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--preto);
    padding: 20px;
}

.logoInstitute{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.logoInstitute img{
    width: 200px;
    height: 200px;
}

.instituteText{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleInstitute {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.titleInstitute h1 {
    font-size: 30px;
    color: var(--branco);
    font-family: var(--fonteWork);
}

.instituteWord {
    display: block;
}

.textInstitute{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-top: 10px;
    font-family: var(--fonteWork);
    font-size: 10px;
    color: var(--branco);
    text-align: justify;
    text-justify: inter-word;
}

.photoInstitute{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.mainPhoto {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainPhoto img {
    width: 100%;
    max-width: 330px;
    height: auto;
    border-radius: 3%;
}

.secondaryPhotos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

.secondaryPhotos img{
    width: 100%;
    max-width: 155px;
    height: auto;
    border-radius: 3%;
}