* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_tecniqueHero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    justify-content: start;
    flex-direction: column;
    background-image: url(assets/firstpart.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: var(--fontePoppins);
    gap: 2rem;
}

.text_techniques {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.text_techniques span {
    font-size: var(--h4);
    font-weight: 200;
}

.image_hero_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image_hero_content {
    
}

.text_techniques h1 {
    font-family: var(--fontePoppins);
    font-size: var(--h1);
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.text_techniques p {
    font-size: var(--bodyLarge);
    font-weight: 200;
    color: #ffffff;
    font-family: var(--fontePoppins);
    flex-wrap: wrap;
}