html {
    scroll-behavior: smooth;
}


.container_footer{
    flex: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: var(--branco-texto);
    font-family: var(--fonteWork);
    background-color: #3C0F12;
    width: 100vw; 
    position: relative;
    padding: 0px 300px 0px 0px;
}

.rightSectionFooterDesktop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
}

.leftSection_footerDesktop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: 50%;
}

.leftSection_footerDesktop img {
    width: 40px;
    height: 40px;
    mix-blend-mode: luminosity;
    opacity: 0.5;
}

.leftSection_footerDesktop p {
    font-size: var(--h3);
    font-weight: 200;

}

.text{
    top: 0;
}

.info{
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-decoration: none;
    list-style: none;
    text-align: start;
}

.containerInfoDesktop{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-decoration: none;
    list-style: none;
    font-size: 12px;
    width: 100%;
}

.title-footer{
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: start;
}

.containerInfoDesktop a {
    text-decoration: none;
    color: inherit;
    text-align: start;

}

.containerInfoDesktop a:hover {
    color: var(--vermelho-claro);
    font-size: var(--bodyLarge);
    border-bottom: 2px solid white;
    transition: border-color 0.7 ease;
}

.logoFooterBackground {
    width: 390px;
    height: 390px;
    transform: translate(-50%);
    mix-blend-mode: luminosity;
    opacity: 0.5;
}

.logoFooterBackground img {
    width: 390px;
    height: 390px;
    position: absolute;
}

.container_info{
    justify-content: start;
    width: 100%;
}

.socialIcons{
    display: flex;
    gap: 20px;
    justify-content: start;
    align-items: center;
    
}

.socialIcons span {
    justify-content: start;
    
}