* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
}

.backgroundTeachers {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
}

.contentTeacher {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}

h1 {
    font-family: var(--fonteWork);
    font-size:3rem;
    color: var(--branco-texto);
}

.awssld {
    width: 120%;
    height: 500px;
}

.awssld__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: transparent;
}

.carouselItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 20px;
}

.awssld__bullets {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.awssld__bullets button {
    background-color: transparent;
    border: 2px solid var(--branco-texto);
}

.awssld__bullets .awssld__bullets--active{
    background-color: var(--branco-texto);
}